Repository aoijs/aoi.js, pull requests merged in 2021-05, with the labels that each got.

#62 Update permission.js
  package/utils/permissions.js
Labels: Accepted, bug

#59 Dev
  package/functions/funcs/customEmoji.js
  package/functions/funcs/defaultMessageNotifications.js
  package/functions/funcs/nodeVersion.js
  package/functions/funcs/pruneMembers.js
  package/functions/funcs/pruneStatus.js
  package/functions/parser.js
Labels: Accepted, enhancement

#38 Create clientApplication
  package/functions/funcs/clientApplication
Labels: Accepted, enhancement, question

#87 New function & parser.js update
  package/functions/funcs/editGuild.js
  package/functions/parser.js
Labels: enhancement

#121 Next Update list [final]
  package/classes/Interaction.js
  package/classes/bot.js
  package/functions/funcs/djsEval.js
  package/functions/funcs/fileSize.js
  package/functions/funcs/filterTextSplitElement.js
  package/functions/funcs/getSlashCommandOptions.js
  package/functions/funcs/handleError.js
  package/functions/funcs/interactionData.js
  package/functions/funcs/messageSlice.js
  package/functions/funcs/newApplicationCmd.js
  package/functions/funcs/newVariable.js
  package/functions/funcs/oldApplicationCmd.js
  package/functions/funcs/oldVariable.js
  package/functions/funcs/reactionCollector.js
  package/functions/funcs/serverLeaderboard.js
  package/functions/funcs/vcSize.js
  package/functions/parser.js
  package/handlers/applicationCreateCommands.js
  package/handlers/applicationDeleteCommands.js
  package/handlers/applicationUpdateCommands.js
  package/handlers/checkGlobalSlashCreate.js
  package/handlers/checkSlashUpdate.js
  package/handlers/errorCommands.js
  package/handlers/variableCreateCommands.js
  package/handlers/variableDeleteCommands.js
  package/handlers/variableUpdateCommands.js
  package/readFile.js
  package/renameFile.js
  package/utils/ApplicationCmdOptions.js
  package/utils/FunctionErrorOptions.js
  package/utils/callbacks.js
  package/utils/commands.js
  package/utils/variableOptions.js
  package/writeFile.js
Labels: enhancement, question
