Repository aoijs/aoi.js, pull requests merged in 2023-09, with the labels that each got.

#479 fix: suppressAllErrors
  src/core/interpreter.js
Labels: Accepted, Classes, Core, Client

#482 Math’s operation addition
  src/functions/math/math.js
Labels: Accepted, Client

#481 automod features
  src/functions/guild/createAutomodRule.js
  src/functions/guild/getAutomodRuleId.js
  src/functions/guild/guildCreatePost.js
Labels: Enhance, Important, Next Version

#485 V6
  src/functions/database/getLeaderboardInfo.js
  src/functions/guild/guildCreatePost.js
  src/functions/user/cacheMembers.js
Labels: Accepted, Callbacks, Next Version, Core, Client
