Repository aoijs/aoi.js, pull requests merged in 2024-01, with the labels that each got.

#541 feat($and & $or)
  src/functions/misc/and.js
  src/functions/misc/or.js
Labels: Accepted, Functions:JS

#533 feat($index) + improvements
  src/classes/AoiError.js
  src/classes/Functions.js
  src/core/interpreter.js
  src/functions/array/arrayAt.js
  src/functions/array/arrayConcat.js
  src/functions/array/arrayEvery.js
  src/functions/array/arrayFilter.js
  src/functions/array/arrayFind.js
  src/functions/array/arrayForEach.js
  src/functions/array/arrayIncludes.js
  src/functions/array/arrayIndexOf.js
  src/functions/array/arrayJoin.js
  src/functions/array/arrayLastIndexOf.js
  src/functions/array/arrayLength.js
  src/functions/array/arrayMap.js
  src/functions/array/arrayPop.js
  src/functions/array/arrayPush.js
  src/functions/array/arrayReverse.js
  src/functions/array/arrayShift.js
  src/functions/array/arrayShuffle.js
  src/functions/array/arraySome.js
  src/functions/array/arraySort.js
  src/functions/array/arraySplice.js
  src/functions/array/arrayUnshift.js
  src/functions/array/deleteArray.js
  src/functions/event/interactionFollowUp.js
  src/functions/event/interactionReply.js
  src/functions/info/emojiCount.js
  src/functions/misc/index.js
  src/functions/misc/loop.js
  src/handler/parsers.js
Labels: Enhance, Pending, Handler, Classes, Core, Client

#546 Features / Refactor
  src/classes/AoiBase.js
  src/functions/database/getLeaderboardInfo.js
  src/functions/database/globalUserLeaderBoard.js
  src/functions/database/guildLeaderBoard.js
  src/functions/database/rawLeaderboard.js
  src/functions/database/userLeaderBoard.js
  src/functions/misc/getCooldownTime.js
  src/functions/misc/index.js
Labels: Enhance, Functions:JS, Feature

#551 Parser
  src/classes/AoiError.js
  src/handler/parsers.js
Labels: Enhance
