Repository aoijs/aoi.js, pull requests merged in 2024-08, with the labels that each got.

#633 Fixed arraySort.js
  src/functions/arraySort.js
Labels: PR:Pending, Type:Function, PR:Needs Review

#638 improvement of $textTrim
  src/functions/textTrim.js
Labels: state: pending, type: function, aoi.js

#639 Improvements for httpRequest
  src/functions/httpRequest.js
Labels: type: improvement, state: pending, type: function, aoi.js

#637 improvements + fixes
  src/classes/AoiBase.js
  src/core/prototypes.js
  src/functions/disableComponents.js
  src/functions/getTimeout.js
  src/functions/isInteger.js
  src/functions/isValidImageLink.js
  src/functions/randomEmoji.js
  src/functions/setTimeout.js
  src/functions/usersBanned.js
  src/index.d.ts
  src/utils/Constants.js
  src/utils/EventUtil.js
  src/utils/InteractionConstants.js
Labels: type: improvement, state: approved, type: function, aoi.js

#635 chore: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: chore

#634 chore: update reporting bug form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: type: chore
